/**Extra small devices (portrait phones, less than 576px)**/
@media (max-width: 575.98px) {
/*header start*/
.menu ul li a {
    padding: 0 0px !important;
    font-size: 20px;
    text-align: right;
}
/*header end*/
/*slider start*/
.slider{
	padding-bottom: 80px;
}
.s-content{
	margin-top: 10px;
}
.s-content h1{
	font-size: 25px;
}
.s-content p{
	margin-bottom: 10px;
}
.custom-ci{
	bottom: -50px;
}
.custom-icon li{
	margin-right: 20px !important;
}
/*slider end*/

}

/**Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a {
    padding: 0 0px !important;
    text-align: right;
}
/*header end*/
/*slider start*/
.slider{
	padding-bottom: 80px;
}
.s-content{
	margin-top: 15px;
}
.custom-ci{
	bottom: -50px;
}
/*slider end*/

}

/**Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a {
    padding: 0 0px !important;
    text-align: right;
}
/*header end*/
/*slider start*/
.s-content{
	margin-top: 35px;
}
/*slider end*/

}

/**Large devices (desktops, 992px and up)**/
@media (min-width: 992px) and (max-width: 1199.98px) {


}

/**Extra large devices (large desktops, 1200px and up)**/
@media (min-width: 1200px) {

	
}